body{
    background-color: #202020;
    color: #ffffff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div{
    overflow-wrap: break-word;
}

textarea{
    resize: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
}

button{
    background-color: #202020;
    color: #ffffff;
    border: 2px solid #101010;
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    font-family: inherit;
}

button:disabled{
    background-color: #2b2b2b;
    color: #707070;
}

button:hover{
    background-color:  #3d3d3d;
}

button:active{
    background-color: #606060;
}

input{
    background-color: #202020;
    color: #ffffff;
    border: 2px solid #101010;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
}

input:disabled{
    background-color: #2b2b2b;
    color: #707070;
}

#container{
    display: grid;
    grid-template-columns: 200px auto 300px;
    grid-template-rows: 60px auto;
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

#header{
    grid-column: 1 / span 3;
    background-color: #303030;
    padding: 10px;
}

#sidebar{
    background-color: #303030;
    padding: 10px;
    border-top-right-radius: 10px;
}

#content{
    background-color: #303030;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#comments{
    background-color: #303030;
    padding: 10px;
    border-top-left-radius: 10px;
}

#allPostsButton{
    display: block;
}

#userPostsButton{
    display: block;
}
